@import 'carbon-components/scss/globals/scss/_theme.scss';

@mixin mq__status-animation($name, $color) {
  @keyframes #{'mq__status-animation--' + $name} {
    0% {
      box-shadow: 0 0 0 0 rgba($color, 0.9),
                  inset 0 0 5px 3px rgba($color, 0.9);
    }
    
    100% {
      box-shadow: 0 0 0 6px rgba($color, 0),
                  inset 0 0 5px 3px rgba($color, 0);
    }
  }
  animation: #{'mq__status-animation--' + $name} 1.5s 1;
}

.mq__status-wrapper {
  display: flex;
  align-items: center;
}

.mq__status-icon {
  position: relative;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: $spacing-03;
  
  &--grey.mq__status-icon--animated {
    @include mq__status-animation('grey', #8c8c8c);
  }
  &--red.mq__status-icon--animated {
    @include mq__status-animation('red', #da1e28);
  }
  &--red-outline.mq__status-icon--animated {
    @include mq__status-animation('red-outline', #da1e28);
  }
  &--green.mq__status-icon--animated {
    @include mq__status-animation('green', #198038);
  }
  &--green-outline.mq__status-icon--animated {
    @include mq__status-animation('green-outline',  #198038);
  }
  &--orange.mq__status-icon--animated {
    @include mq__status-animation('orange', #fc7b1e);
  }
}  
